# Java binary-files
*.class

# Java crashes
hs_err_pid*

# Gradle
build/
.gradle/

# Eclipse Core
.project
.settings/

# Eclipse JDT (Java Development Tools)
.classpath
bin/

# NetBeans Gradle
.nb-gradle/

